Jinja2==2.7.3
Mako==1.0.0
MarkupSafe==0.23
PasteDeploy==1.5.2
Pygments==1.6
WebOb==1.4
coverage==3.7.1
-e hg+@38c924fac635040dc4769a09a4af7465e7d76271#egg=dragon_system-dev
nose==1.3.4
pyramid==1.5.1
pyramid-debugtoolbar==2.2
pyramid-jinja2==2.3.3
pyramid-mako==1.0.2
repoze.lru==0.6
translationstring==1.1
venusian==1.0
waitress==0.8.9
zope.deprecation==4.1.1
zope.interface==4.1.1
